<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <sql id="sql">
        select * from user2
    </sql>
    <select id="login" parameterType="user" resultType="User">
        <include refid="sql"/> where name=#{loginName} and password=#{password}
    </select>

    <select id="getUserList"  resultType="User">
        <include refid="sql"/>
    </select>

    <select id="userCount" resultType="integer">
        select count(*) from user2
    </select>

    <select id="getUserList2"  parameterType="hashmap" resultType="User">
        <include refid="sql"/>
        <where>
            <if test="name != null and name != ''">
                and name like '%${name}%'
            </if>
            <if test="address != null and address != ''">
                and address=#{address}
            </if>
        </where>
         limit #{pagestart},#{size}
    </select>

<update id="updateUserList" parameterType="user">
    update user2 set name=#{name},loginName=#{loginName},birthDate=#{birthDate},address=#{address} where id=#{id}
</update>

    <update id="updateHeadPath" parameterType="user">
        update user2 set headpath=#{headpath} where id=#{id}
    </update>
    <delete id="delete" parameterType="user">
        delete from user2 where id=#{id}
    </delete>

    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="user">
        insert into user2 value (null,#{name},#{loginName},null,null,#{birthDate},null,#{address},null,#{headpath})
    </insert>

</mapper>